@import "tailwindcss";

body {
    font-family: "text";
}

#RA, #SAT, #RN, #DPP, #AR, #About {
    background: rgba(112, 213, 72, 0.3);
}
@font-face {
    font-family: text;
    src: url(/css/fonts/FuzzyBubbles-Regular.ttf);
}